node_modules
apps/*/node_modules

.pnpm-store

*.env.local
*.env.development
*.env.test
*.env.*

.DS_Store
*.log
.vscode
.idea
*.swp

dist
build
output

apps/backend/.output/*
!apps/backend/.output/server/index.mjs
apps/frontend/dist/*
!apps/frontend/dist

Dockerfile
pnpm-debug.log
